<% page_title t(".title") %>

<%= render "tabs" %>

<% if @options.any? %>
  <table class="table table-striped">
    <thead>
      <th><%= t("activerecord.attributes.option.name") %></th>
      <th width="36"></th>
      <th width="36"></th>
    </thead>
    <tbody>
      <% @options.each do |option| %>
        <tr>
          <td><%= option.name %></td>
          <td><%= link_to_edit edit_admin_category_sub_category_form_field_option_url(@category, @sub_category, @form, @field, option), t("admin.options.edit.title") %></td>
          <td><%= link_to_destroy admin_category_sub_category_form_field_option_url(@category, @sub_category, @form, @field, option), t("admin.options.destroy.confirm", name: option.name), t("admin.options.destroy.title") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render "admin/partials/list_empty", message: t(".flash.empty") %>
<% end %>
