<% page_title t(".title") %>

<% if @fields.any? %>
  <table class="table table-striped">
    <thead>
      <th width="55"><%= t("activerecord.attributes.field.order") %></th>
      <th width="115"><%= t("activerecord.attributes.field.field_type") %></th>
      <th><%= t("activerecord.attributes.field.name") %></th>
      <th width="70"></th>
      <th width="36"></th>
      <th width="36"></th>
    </thead>
    <tbody>
      <% @fields.decorate.each do |field| %>
        <tr>
          <td><%= field.order %></td>
          <td><%= field.field_type_translated %></td>
          <td><%= field.name %></td>
          <td>
            <% if field.multi_selection? %>
              <%= link_to t("admin.options.index.title"), admin_category_sub_category_form_field_options_url(@category, @sub_category, @form, field) %>
            <% end %>
          </td>
          <td><%= link_to_edit edit_admin_category_sub_category_form_field_url(@category, @sub_category, @form, field), t("admin.fields.edit.title") %></td>
          <td><%= link_to_destroy admin_category_sub_category_form_field_url(@category, @sub_category, @form, field), t("admin.fields.destroy.confirm", name: field.name), t("admin.fields.destroy.title") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render "admin/partials/list_empty", message: t(".flash.empty") %>
<% end %>

<%= link_to t("admin.fields.new.title"), new_admin_category_sub_category_form_field_url(@category, @sub_category, @form) %>
