<ul class="nav nav-tabs main-nav-tabs">
  <li class="<%= "active" if ["new", "create"].include?(params["action"]) %>">
    <%= link_to new_admin_category_sub_category_form_url(@category, @sub_category) do %>
      <i class="fa fa-plus"></i>
      <%= t("admin.forms.new.title") %>
    <% end %>
  </li>

  <li class="<%= "active" if params["action"] == "index" %>">
    <%= link_to admin_category_sub_category_forms_url(@category, @sub_category) do %>
      <i class="fa fa-list"></i>
      <%= t("admin.forms.index.title") %>
    <% end %>
  </li>

  <% if @form.present? and @form.persisted? %>

    <li class="<%= "active" if ["edit", "update"].include?(params["action"]) %>">
      <%= link_to edit_admin_category_sub_category_form_url(@category, @sub_category, @form) do %>
        <i class="fa fa-pencil"></i>
        <%= t("admin.forms.edit.title") %>
      <% end %>
    </li>

  <% end %>
</ul>
