<% content_for(:page_title) { t(".title") } %>

<% if @forms.any? %>
  <table class="table table-striped">
    <thead>
      <th><%= t("activerecord.attributes.form.name") %></th>
      <th width="36"></th>
      <th width="36"></th>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.name %></td>
          <td>
            <%= link_to edit_admin_category_sub_category_form_url(@category, @sub_category, form), title: t("admin.forms.edit.title") do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_category_sub_category_form_url(@category, @sub_category, form), method: :delete, title: t("admin.forms.destroy.title"), data: { confirm: t("admin.forms.destroy.confirm", name: form.name) } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <p class="alert alert-info"><%= t(".flash.empty") %></p>
    </div>
  </div>
<% end %>

<%= link_to t("admin.forms.new.title"), new_admin_category_sub_category_form_url(@category, @sub_category) %>
