<% page_title t(".title") %>

<%= render "tabs" %>

<% if @forms.any? %>
  <table class="table table-striped">
    <thead>
      <th><%= t("activerecord.attributes.form.name") %></th>
      <th width="76"></th>
      <th width="36"></th>
      <th width="36"></th>
    </thead>
    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.name %></td>
          <td><%= link_to t("admin.fields.index.title"), admin_category_sub_category_form_fields_url(@category, @sub_category, form) %></td>
          <td><%= link_to_edit edit_admin_category_sub_category_form_url(@category, @sub_category, form), t("admin.forms.edit.title") %></td>
          <td><%= link_to_destroy admin_category_sub_category_form_url(@category, @sub_category, form), t("admin.forms.destroy.confirm", name: form.name), t("admin.forms.destroy.title") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render "admin/partials/list_empty", message: t(".flash.empty") %>
<% end %>
